html
    head 
        title Pug test
        //- <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        style 
            include style.css 
    body
        block content
        script 
            include hamburger.js 