extends base
block content
	.background01 
		.login01
			span.loginWhite01 계정이 있어요!
			span.loginBrown101 로그인하고
			span.loginBrown201 시작하기
		.start01 
			span.startWhite01 계정이 없어도 편지를 쓸 수 있어요!
			span.startBrown101 바로 
			span.startBrown201 시작하기
