extends base
block content
    .background
        .hamburger  
            .high 
            .mid 
            .low
        .vaseCon 
            img(src="./view/img/vase.jpg")
            span.who 대현 님의 꽃병
        button.save 사진저장
