extends base
block content
    .background
        .modal 
            span.yourFlower This
            span.suggest How about
            .flowerTab 
            .btn other
            .pageConvert 
                .one 
                .two 
                .three