extends base
block content
    .background
        .modal 
            span.pinkSpan1 편지를 쓸 꽃병의 
            span.pinkSpan2 비밀코드가 필요해요
            h3.inputName 비밀코드
            input.code
            button.ok 확인
