extends base
block content
	.background062 
		.letterdiv062 
			.xbtn062 
				.xline1062 
				.xline2062
			.leftBtn062 
				.leftline1062 
				.leftline2062
			.letterbox062 
				span.count062 1/30
				textarea.note062
			.rightBtn062 
				.rightline1062 
				.rightline2062