extends base
block content
    .background
        .hamburgerBtn  
            .high 
            .mid 
            .low
        .menu 
            header.mHeader 
            footer.mFooter
                .infoBtn 
                .whoBtn
            