extends base
block content
	.background061
		.letterdiv061
			.xbtn061 
				.xline1061 
				.xline2061
			.leftBtn061 
				.leftline1061 
				.leftline2061
			.letterbox061 
				span.count061 1/30
				textarea.note061
			.rightBtn061 
				.rightline1061 
				.rightline2061