extends base
block content
    div.container
        div.hamburger 
            div.high 
            div.mid
            div.low
        div.makeVase 
            span 꽃병 만들기
        div.writeLetter     
            span 편지 쓰기
            span 편지를 쓰세요