extends base
block content
    .background
        .opener 
        .envelope
            .letter
                .letterList
                    img(src="/src/views/img/편지 끄적.png", alt="")
            .left 
            .right 
            .bottom
        span.warn 편지가 열렸어요!
        //- .letterPage.hidden
        //-     .backBtn
        //-     .letterModal