extends base
block content
    .background
        .opener 
        .envelope
            .letter
                .letterList
                    .clicker click!
                    .strings 
                    .strings 
                    .strings
            .left 
            .right 
            .bottom
        .letterPage.hidden
            .backBtn
            .letterModal
                .letters 
                .letters 
                .letters 
                .letters 
                .letters 
                .letters 
                .letters 
                .letters 
                .letters 
