extends base
block content
    .background
        .hamburgerBtn  
            .high 
            .mid 
            .low
        .menu 
            header.mHeader
            .content 
                .profile
                    .head
                    .body
                span.name 강성우
                button.loginBtn 로그인하기
            .content 
                .profile
                    .head
                    .body
                span.name 김대현
                button.loginBtn 로그인하기
            .content 
                .profile
                    .head
                    .body
                span.name 유주형
                button.loginBtn 로그인하기
            footer.mFooter
                .infoBtn 
                .whoBtn
            