.colors {
    color: #E5E5E5, #FDE7E2, #EDC6C4, #E2B7B4, #DD9292, #F5EBE2, #FFE164, #A8CE90, #87B17F, 
    #C9986B, #5E452A, #fff9f4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background03 {
    width: 368px; height: 796px;
    background-color: #FDE7E2;
    display: grid;
    grid-template-rows: 70px 20px 686px 20px;
    justify-items: center;
    align-items: center ;
    border-radius: 20px;
}

.header03 {
    width: 368px; height: 70px;
    background-color: #fff9f4;
    display: grid;
    grid-template-columns: 294px 74px;
    justify-items: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title03 {
    margin-left: 80px;
    color: #DD9292;
}

.doneBtn03 {
    width: 55px; height: 35px;
    background-color: #DD9292;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.letterCon03 {
    width: 308px; height: 656px;
    background-color: #fff9f4;
    grid-row: 3/ 4;
    border-radius: 20px;
}