.color {
    color: #E5E5E5, #FDE7E2, #EDC6C4, #E2B7B4, #DD9292, #F5EBE2, #FFE164, #A8CE90, #87B17F, 
    #C9986B, #5E452A;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 368px; height: 796px;
    background-color: #FDE7E2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.modal {
    width: 298px; height: 325px;
    background-color: #fff9f4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinkSpan1 {
    color: #DD9292;
    font-size: 15px;
    margin-top: 40px;
}

.pinkSpan2 {
    color: #DD9292;
    font-size: 15px;
}

.inputName {
    color: #5E452A;
    margin-top: 20px;
}

.code {
    width: 270px; height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #E5E5E5;
}

.code:focus {
    outline: none;
}

.ok {
    width: 61px; height: 38px;
    background-color: #DD9292;
    color: #ffffff;
    font-size: 15px;
    margin-top: 40px;
    border: none;
    border-radius: 10px;
}

.ok:hover {
    background-color: #E2B7B4;
}

/* .hamburger {
    grid-column: 3/ 4; grid-row: 1/ 2;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    
}

.high {
    background-color: #DD9292;
    width: 39.24px; height: 6.24px;
}

.mid {
    background-color: #DD9292;
    width: 39.24px; height: 6.24px;
}

.low {
    background-color: #DD9292;
    width: 39.24px; height: 6.24px;
} */