.color {
    color: #E5E5E5, #FDE7E2, #EDC6C4, #E2B7B4, #DD9292, #F5EBE2, #FFE164, #A8CE90, #87B17F, 
    #C9986B, #5E452A, #fff9f4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 368px; height: 796px;
    background-color: #FDE7E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.envelop {
    width: 301px; height: 178px;
    background-color: #fff9f4;
    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(237, 198, 196, 0.8);
    display: flex;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
}

.top {
    width: 0; height: 0;
    border: 150px solid transparent;
    border-bottom: 0;
    border-top: 100px solid #C9986B;
    border-radius: 5px;
    z-index: 2;
    position: relative;
}

.left {
    width: 0; height: 0;
    border: 75px solid transparent;
    border-right: 0;
    border-left: 150px solid #87B17F;
    z-index: 1;
    position: absolute;
    margin-left: -150px;
    margin-top: 15px;
}

.right {
    width: 0; height: 0;
    border: 75px solid transparent;
    border-left: 0;
    border-right: 150px solid #87B17F;
    z-index: 1;
    position: absolute;
    margin-left: 150px;
    margin-top: 15px;
}

.bottom {
    width: 0; height: 0;
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 95px solid #DD9292;
    border-radius: 5px;
    position: absolute;
    margin-top: 83px;
}

/* .to {
    color: #5E452A;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
} */